:root {
  --boldpink: #ed1b76;
  --pastelpink: #f44786;
  --white: #ffffff;
  --lightbluegreen: #249f9c;
  --deepbluegreen: #037a76;
}
#root {
  margin-top: 0;
}
@font-face {
  font-family: "GameOfSquids";
  src: local("GameOfSquids");
  src: url("/fonts/GameOfSquids-1GMVL.woff"), format("woff");
  /* url("./fonts/GameOfSquids-1GMVL.ttf"), format("truetype"); */
}
header {
  background-color: var(--boldpink);
  color: var(--white);
}
h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 10pt;
  margin-top: 0;
}

body {
  background: repeating-linear-gradient(
    90deg,
    #222,
    #222 15px,
    #333 16px,
    #333 10px
  );
  margin-left: 0;
  margin-right: 0;
  background-color: var(--white);
  font-family: "Space Grotesk", "GameOfSquids", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input,
button {
  margin-left: 5pt;
}
form {
  background-color: var(--pastelpink);
  text-align: left;
  padding: 5pt;
  font-size: 1.2rem;
}

input {
  font-family: "Space Grotesk";
}
button {
  height: 50pt;
  width: 50pt;
  border-radius: 50%;
  font-family: "Space Grotesk";
  font-weight: bold;
  font-size: 1.3rem;
  border: 3pt solid var(--lightbluegreen);
}
button:active {
  background-color: green;
}
/* game components */
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.testwrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--white);
}
.player-container {
  max-width: 150px;
}
img {
  border: 7pt solid var(--lightbluegreen);
  border-radius: 50%;
}
.game-container {
  flex-grow: 2;
}
.figure-container {
  background-color: var(--white);
  stroke: var(--boldpink);
  stroke-linecap: butt;
  stroke-width: 3px;
}
.figure-part {
  display: none;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column;
}

/* squid game symbols */

.wrapper {
  background-color: var(--white);
  text-align: center;
  width: 100vw;
}

.wrapper > div {
  display: inline-block;

  margin: 20px;
}

div {
  transition: all 0.2s ease-in-out;
}

#circle {
  border: 3px solid black;

  width: 90px;

  height: 90px;

  border-radius: 50%;
}

#triangle {
  width: 0%;

  height: 0%;

  border-left: 50px solid transparent;

  border-right: 50px solid transparent;

  border-bottom: 100px solid black;

  position: relative;
}

#triangle:after {
  content: "";

  position: absolute;

  top: 5px;

  left: -45px;

  width: 0%;

  height: 0%;

  border-left: 45px solid transparent;

  border-right: 45px solid transparent;

  border-bottom: 92px solid white;
}

#square {
  border: 3px solid black;

  width: 85px;

  height: 85px;
}

#square:hover,
#circle:hover {
  transform: scale(1.1);
  box-shadow: 0px 20px 40px var(--deepbluegreen);
}
#triangle:hover:after {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
